<ul class="nav nav-fill">
	<li class="nav-item"><%= link_to "1. Shopping Cart",shoppingcart_path, class:"nav-link active"%></li>
	<li class="nav-item"><%= link_to "2. Delivery", edit_checkout_shipping_address_path, class:"nav-link disabled" %></li>
	<li class="nav-item"><%= link_to "3. Payment", new_payment_path, class:"nav-link disabled" %></li>
</ul>