<ol class = "horizontal_nav checkout_nav">
	<li class="col-1-3 align-left"><%= link_to "1. Shopping Cart", shoppingcart_path %></li>
	<li class="col-1-3 align-left"><%= link_to "2. Delivery", edit_checkout_shipping_address_path%></li>
	<li class="col-1-3 align-left" id="checkout_session">3. Payment</li>
</ol>

<section>
  <%= form_tag payments_path do%>
    <p>Please enter your payment details:</p>
    <div id="dropin"></div>
    <%= submit_tag "Pay" %>
  <%end%>
</section>
