<p>Thank you for shopping with us!</p>

<p>Your order is successfully placed. Your order number is <span class="font-weight-bold"><%=@confirmation_num%></span>. An order confirmation letter is sent to your email box.</p>