var updateShoppingcart = function(){
	<% item_quantity = order_exist?? "#{current_order.item_quantity}" : "0" %>
	$('#shoppingcart_items').html("<%= item_quantity%>");
};

var addMsg = function(){
	if($('.message').length){
		$('.message').remove();
	}
	<% if !@msg.nil? %>
        $('.main_content').prepend("<div class='alert alert-<%= @msg_type %> message'><%= @msg %></div>");
    <% end %>	
};

$("#order_item_product_quantity").val(1);
updateShoppingcart();
addMsg();

