<% provide(:title,@category.name) %>

<section class="row">
	<h1><%= @category.name %></h1>
</section>

<% @products.each do |product| %>
	<%= render "product_list_admin_view", product: product %>
<% end %>

