
<nav class="navbar navbar-expand-md bg_header navbar-light fixed-top">
	
	
	<button class="navbar-toggler mr-1" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>

	<%= link_to "Only4You", root_path, class:"navbar-brand navbar_logo mr-auto" %>

	
		
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav mr-auto">
			<% Category.all.each do |category| %>
				
				<% if (category.name.downcase == "on sale") || (category.name.downcase == "best sellers") %>
					<% category_id = "nav_highlight" %>
				<% else category_id = "" %>
				<% end %>

				<li class="nav-item" >
					<%= link_to category.name, category_path(category), class:"nav-link", id: "#{category_id}"%>
				</li>
			<% end %>
		</ul>
	</div>

		<div class="align-self-center" id="shoppingcart">
			<% item_quantity = order_exist?? "(#{current_order.item_quantity})" : "" %>
			<%= link_to item_quantity, shoppingcart_path, class:"nav-link nav-item bg-white" %>
		</div>

	

</nav>