<header class="container header">
	<section class="primary_header group">
		<div class="logo">
			<h1><a href="<%= root_path %>">ONLY 4 YOU</a></h1>
			<h2>Personalised Gift Station</h2>
		</div>
		<div class="header_right">
			<h3><%= link_to "Shopping cart(#{current_order.item_quantity})", order_path(current_order) %></h3>
		</div>
	</section>
	<nav>
		<ul class="primary_nav">
			<% Category.all.each do |category| %>
				
				<% case category.name.downcase %>
				<% when "on sale" then category_id = "onsale" %>
				<% when "best sellers" then category_id = "bestseller" %>
				<% else category_id = ""%>
				<% end %>

				<li id= <%=category_id%> >
					<%= link_to category.name, category_path(category)%>
				</li>
			<% end %>
		</ul>
	</nav>

</header>